.body {
    background: #abbaab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.title {
    font-family: "Montserrat", sans-serif;
}

header, footer {
    padding: 10px;
    background-color: #33c3f0;
    color: antiquewhite;
}

.header {
    font-family: "Montserrat", sans-serif;    
}
header {
    margin-bottom: 20px;
}

footer {
    margin-top: 20px;
}

.menu {
    padding-top: 10px;
    padding-bottom: 40px;
}
