<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>myCrypto {% block title %}{% endblock %}</title> 
    <!--SKELETON.CSS-->
    <link rel="stylesheet" href="{{url_for('static', filename='skeleton.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='normalize.css')}}">
    <!--STYLES.CSS --> 
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <!-- FONTS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        myCRYPTO
    </header>
    <section class="container">
        <div class="menu">
        <a href="/">Home</a> | <a href="/purchase">Purchase</a> | <a href="/status">Status</a>
        </div>
        {% block body%}{% endblock %}
    </section>
    <footer>
        &copy; 2020 - All rights reserved
    </footer>    
</body>
</html>