{% extends 'base.html' %}
{% block title %}myCRYPTO{% endblock %}
{% block body %}
    <h1>Your Movements <a href="/"></a></h1>
    <a class="button button-primary" href="/purchase">Buy</a>
    <table class="u-full-width">
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>From coin</th>
            <th>Amount</th>
            <th>To coin</th>
            <th>Quantity</th>
        </tr>
        {% for dataRow in movimientos %}
        <tr>
            <td class="dataRow">{{ dataRow[1]}}</td>
            <td>{{ dataRow[2]}}</td>
            <td>{{ dataRow[3]}}</td>
            <td>{{ dataRow[4]}}</td>
            <td>{{ dataRow[5]}}</td>
            <td>{{ dataRow[6]}}</td>
        </tr>  
            {% endfor %}                  
    </table>
   
{% endblock %}