{% extends 'base.html' %}
{% block title %} New Purchase {% endblock %}

{% block body %}
    <h1>New Purchase</h1>
    <form class="u-full-width" action="/purchase" method="post">
        <label for="amount">Quantity:</label>
        <input class="u-full-width" type="number" name="from_quantity" id="from_quantity" step="0.01">
        <label for="symbol">Select coin</label>
        <select class="form-control" id="from_currency">
            <option selected> Choose...</option>
            <option value="EUR">EUR</option>
            <option value="BTC">BTC</option>
            <option value="ETH">ETH</option>
            <option value="XRP">XRP</option>
            <option value="LTC">LTC</option>
            <option value="BCH">BCH</option>
            <option value="BNB">BNB</option>
            <option value="USDT">USDT</option>
            <option value="EOS">EOS</option>
            <option value="BSV">BSV</option>
            <option value="XLM">XLM</option>
            <option value="ADA">ADA</option>  
        </select>
        <label for="convert">Select crypto</label>
        <select class="form-control" id="to_currency">
            <option selected> Choose...</option>
            <option value="EUR">EUR</option>
            <option value="BTC">BTC</option>
            <option value="ETH">ETH</option>
            <option value="XRP">XRP</option>
            <option value="LTC">LTC</option>
            <option value="BCH">BCH</option>
            <option value="BNB">BNB</option>
            <option value="USDT">USDT</option>
            <option value="EOS">EOS</option>
            <option value="BSV">BSV</option>
            <option value="XLM">XLM</option>
            <option value="ADA">ADA</option>  
        </select>
     <button type="submit" class="btn bnt-primary mb-2">Confirm</button>
    </form>
