{% extends 'base.html' %}
{% block title %}Status {% endblock %}
{% block body %}
<main class="container p-5">
    <h1 class="display-6 text-center  title mt-6">ESTADO DE LA INVERSION</h1>
        <div class="form-group">
        <form class="u-full-width" action="/status" method="GET">
            <label for="invertido">Invested: </label>
            <input class="u-full-width" type="text" name="amount_invest" id="invertido">
            <label for="valor_actual">Value: </label>
            <input class="u-full-width" type="number" name="valor_actual" id="valor_actual">
        </form>
        </div>
        <br>
        <br>
        <a class="btn btn-primary" href="./purchase" role="button">Buy</a>       
</main>
    {% endblock %}