{% extends 'base.html' %}
{% block title %}myCRYPTO{% endblock %}
{% block body %}

<div class="Jumbotron text-center">
    <h1>MOVEMENTS</h1>
</div>
<div class="container"></div>
        <form action="/" method="GET">
            <h2>Operations Extract</h2>
            <br>
            <table class="table table-borded">
                <thead>
                    <tr>
                        <th>Date</th>
                        <input type="date" name="today" id="date">
                        <th>Time</th>
                        <input type="time" name="now" id="time">
                        <th>Select coin</th>
                        <form action="purchase.html" method="get" name="from_currency" id="symbol"></form>
                        <th>Amount</th>
                        <input type="number" name="from_quantity" id="Amount">
                        <th scope="col">Exchange coin</th>
                        <form action="purchase.html" method="get" name="to_currency" id="symbol"></form>
                        <th scope="col">Quantity</th>
                        <input type="number" name="to_quantity" id="Quantity">
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ datetime class="date" }}></datetime></td> 
                        <td>{{ datetime class="time" }}></datetime></td>
                        <td>{{ from_currency }}</td>
                        <td>{{ from_quantity }}</td>
                        <td>{{ to_currency }}</td>
                        <td>{{ to_quantity}}</td>
                    </tr>                    
                </tbody>
            </table>
        </form>
</body>
</html>
   

{% endblock %}