{% extends 'base.html' %}
{% block title %}MY BALANCE {% endblock %}
{% block body %}
<main class="container p-5">
    <h1 class="display-6 text-center  title mt-6">ESTADO DE LA INVERSION</h1>
        <div class="form-group">
        <form action="/status" method="GET">
            <label for="invertido">Invertido: </label>
            <input type="text" name="amount_invest" id="invertido">
            <label for="valor_actual">Valor Actual: </label>
            <input type="text">
        </form>
        <br>
        <br>
        <input type="button" value="VOLVER">
        <form action="redirect"></form>
        </div>
</main>
    {% endblock %}