{% extends 'base.html' %}
{% block title %}MY BALANCE {% endblock %}
{% block body %}
<main class="container p-5">
    <h1 class="display-6 text-center  title mt-6">ESTADO DE LA INVERSION</h1>
        <form action="" method="GET"></form>
        <label for="invertido">Invertido: </label>
        <input type="text"> type="text" id="" name=""></input>
        <label for="valor_actual">Valor Actual: </label>
        <input type="text">
        <label for="volver">Volver</label>
        <input type="button" value="Volver">
    
{% endblock %}